body
{
margin:0px;
font-family: "Sans MS",sans-serif;
background-image: url("../images/wallpaper.jpg"); 
background-color:#CCCCCC;


}
ol
{
list-style-type:none;
font-size:1em;
}
ul
{
list-style-type:none;
display:flex;
flex-flow: row wrap;
margin-left:10px;
margin-right:10px;
}
ul>img
{

width:70%
}

ul>img:hover
{

width:100%;

}
a:link 
{
	
	color:#6e6e6e;
	text-decoration: none;
}
a:visited 
{
	color:#6e6e6e;
	text-decoration: none;
}
a:link:hover 
{
	color: black;
	text-decoration: underline;
	font-weight: bold;
}
a:active {

color: #black;
}
body>div
{
display:flex;
flex-flow: row wrap;
margin-left:4%;
margin-right:4%;

}
 body>div>header,footer
{
opacity: .7;
background: -moz-linear-gradient(bottom right,	#E0D6CC, #C2E0FF);

} 



body>div>header,menu,content,footer
{
background-color:#FFFFFF;
opacity: .9;

margin:10px;
padding:20px;
color:#6e6e6e;
box-shadow:0.2em 0.2em 0.2em 0.2em;
border-radius: 1em;
}
.button
{   
background-color:black;
margin-left:100px;
margin-right:100px;
padding:20px;
color:#6e6e6e;
box-shadow:0.2em 0.2em 0.2em 0.2em;


}

body>div>header
{
order:1;
height:6.5em;
flex:0 1 100%;
text-align:center;
}
body>div>header>img
{
height:100%;
 opacity: 1;
 
}
body>div>menu
{
order:2;
flex: 0 1 150px;
font-size:1.2em;

}

body>div>content
{
order:3;
flex:1;
min-width:200px;
text-align:center;
}
body>div>footer
{

order:4;
height:0.5em;
flex:0 1 100%;
text-align:right;
font-size:70%;

}
#wss{

opacity:0.7;

-webkit-transition:opacity 1.0s linear 0s;
-o-transition:opacity 1.0s linear 0s;
-moz-transition:opacity 1.0s linear 0s;
transition:opacity 1.0s linear 0s;
transition: all 5s ease;
padding: 1em;
flex:1;
text-align:center;
margin-left:3%;
margin-right:3%;
}
#wss img
{
flex:1;
height:70%;
width:70%;
}
 
#place
{
width:910px;
height:700px;

}
.table{
float:top;
margin-left:auto;
margin-right:auto;

border-collapse: collapse;
    border: 1px solid #6e6e6e;
	width:100%;
}
.error
{

color:red;
font-size:70%;
}

.table, th{
background-color:#6e6e6e;
    border: 1px solid #6e6e6e;
	margin-left:auto;
margin-right:auto;
margin-top:auto;
  color: white;
}
 .table, td{
    border: 1px solid #6e6e6e;
	margin-left:auto;
margin-right:auto;
text-align:center;
background-color:white;
color:#6e6e6e;
} 



.table1,td{
float:top;
border-collapse: collapse;
border: 0px;
margin-left:auto;
margin-right:auto;

}


.loginfo{

font-size:0.6em;

float:right;

}

.loginfo1{

font-size:0.9em;

float:right;

}


input[type="number"] {
   width:3em;
}

/*  .table3, td{
    border: 1px solid #6e6e6e;
	margin-left:auto;
margin-right:auto;
text-align:center;

/* color:#6e6e6e; */
}  */

.table3, th{
background-color:#6e6e6e;
    /* border: 1px solid #6e6e6e; */
	margin-left:auto;
margin-right:auto;
margin-top:auto;
  color: white;
}

td.odd {

background-color:red;

}

/* #E0D6CC */









